[builderList menuPacks]
modelClass = "Aero\Manager\Models\Packs"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
recordsPerPage = 3
pageNumber = "{{ :page }}"

[builderList packs]
modelClass = "Aero\Manager\Models\Packs"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
recordsPerPage = 6
pageNumber = "{{ :page }}"
==
{% set packs = packs.records %}      
{% set menuPacks = menuPacks.records %}        
        
        
        <nav id="tg-nav" class="tg-nav">
							<div class="navbar-header">
								<a href="#menu" class="navbar-toggle collapsed">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</a>
							</div>
							<div id="tg-navigation" class="collapse navbar-collapse tg-navigation">
								<ul>
									<li><a href="{{app}}/?ref=main-menu">{{ 'home'|_ }}</a></li>
									<li><a href="{{app}}/destinations">{{ 'destinations'|_ }}</a></li>
									<li><a href="{{app}}/services">{{ 'services'|_ }}</a></li>
									<li class="menu-item-has-children menu-item-has-mega-menu"><a href="javascript:void(0);">tours</a>
										<div class="mega-menu">
											<ul>
											    {% for c in packs %}
												<li><a href="{{app}}/tours/{{c.slug}}">{{c.name}}</a></li>
                                                {% endfor %}
											</ul>
											<div class="tg-sliderarea">
												<h2>{{'Featured packs' | _}}</h2>
												<div class="tg-trendingtripsslider tg-trendingtrips owl-carousel">
												
												    {% for c in menuPacks %}
													<div class="item tg-trendingtrip">
														<figure>
															<a href="{{app}}/tours/{{c.slug}}">
																<img src="{{ c.image.getPath | resize(235, 170) }}" alt="{{ c.name }}">
																<div class="tg-hover">
																	<span class="tg-stars"><span></span></span>
																	<span class="tg-tourduration">{{c.days}} {{'days' |_}}, {{c.days - 1}} {{'nights' |_}}</span>
																	<span class="tg-locationname">{% if c.avalaible == 1 %} {{'Avalaible' | _}} {% else %} {{'Not avalaible' | _}} {% endif %}</span>
																	<div class="tg-pricearea">
																		<span>{{c.name}}</span>
																		<h4>${{c.pricing}}</h4>
																	</div>
																</div>
															</a>
														</figure>
													</div>
													{% endfor %}


												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</nav>