title = "Home"
url = "/"
layout = "master"
is_hidden = 0

[builderList destinations]
modelClass = "Aero\Manager\Models\Destinations"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList packs]
modelClass = "Aero\Manager\Models\Packs"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList editor]
modelClass = "Aero\Manager\Models\Editor"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% set e = editor.records[0] %}
{% set destinations = destinations.records %}
{% set packs        = packs.records %}

{% partial 'slider' %}

<main id="tg-main" class="tg-main tg-haslayout">

<!--************************************
    		Our Destination Start
    *************************************-->
    <section class="tg-sectionspace tg-bgdark tg-haslayout">
    	<div class="container">
    		<div class="row">
    			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    				<div class="tg-sectionhead tg-sectionheadvtwo">
    					<div class="tg-sectiontitle">
    						<h2>{{"Top Destinations" | _}}</h2>
    					</div>
    					<div class="tg-description">
    						<p>{{"Uyuni is one of the most incredible tourist destinations in the world"|_}}</p>
    					</div>
    				</div>
    			</div>
    			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    				<div class="tg-themetabs tg-themetabsvtwo">
    					<div class="tab-content tg-themetabcontent">

    							<div class="tg-topdestinationslider tg-populardestinations owl-carousel">
    							
    							    {% for c in destinations %}
    								<div class="item tg-populardestination">
    									<figure>
    										<a href="./destinations/{{c.slug}}"><img src="{{c.image.getPath | resize(360, 230)}}" alt="{{c.name}}"></a>
    										<figcaption>
    											<h3><a href="./destinations/{{c.slug}}">{{c.name}}</a></h3>
    											<div class="tg-description">
    												<p>{{c.subtitle}}</p>
    											</div>
    										</figcaption>
    									</figure>
    								</div>
                                    {% endfor %}
                                    
    							</div>
    							
    							
    					</div>
    				</div>
    				<div style="text-align: center">
    				<a class="tg-btn" href="./destinations"><span>destinations gallery</span></a>
    				</div>
    				
    			</div>
    		</div>
    	</div>
    </section>
    <!--************************************
    		Our Destination End
    *************************************-->
    <!--************************************
    		Popular Tours Start
    *************************************-->
    <section class="tg-sectionspace tg-haslayout">
    	<div class="container">
    		<div class="row">
    			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    				<div class="tg-sectionhead tg-sectionheadvtwo">
    					<div class="tg-sectiontitle">
    						<h2>{{'Popular Tours' |_}}</h2>
    					</div>
    					<div class="tg-description">
    						<p>{{'Tour packages that achieve unforgettable adventures and maximum comfort' |_}}</p>
    					</div>
    				</div>
    				<div id="tg-populartoursslider" class="tg-populartoursslider tg-populartours owl-carousel">
    				
    				    {% for c in packs %}
    					<div class="item tg-populartour">
    						<figure>
    							<a href="{{app}}/tours/{{c.slug}}"><img src="{{c.image.getPath | resize(360, 230)}}" alt="image destinations"></a>
    							<span class="tg-descount">{% if c.avalaible == 1 %} {{'Avalaible' | _}} {% else %} {{'Not avalaible' | _}} {% endif %}</span>
    						</figure>
    						<div class="tg-populartourcontent">
    							<div class="tg-populartourtitle">
    								<h3><a href="{{app}}/tours/{{c.slug}}">{{c.name}}</a></h3>
    							</div>
    							<div class="tg-description">
    								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh...</p>
    							</div>
    							<div class="tg-populartourfoot">
    								<div class="tg-durationrating">
    									<span class="tg-tourduration">{{c.days}} {{'days' |_}}, {{c.days - 1}}, {{'nights' |_}}</span>
    								</div>
    								<div class="tg-pricearea">
    									<h4>{{c.pricing}}</h4>
    								</div>
    							</div>
    						</div>
    					</div>
    					{% endfor %}
    					
    				</div>
    			</div>
    		</div>
    	</div>
    </section>
    <!--************************************
    		Popular Tours End
    *************************************-->
    <section>
    	<div class="tg-sectionspace tg-haslayout" style="margin-top: -100px">
    		<div class="container">
    			<div class="row" style="width: 80%; margin: 0 auto">

                    <iframe src="https://player.vimeo.com/video/333993050" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" style="-webkit-box-shadow: 0px 0px 54px -2px rgba(51,51,51,1); -moz-box-shadow: 0px 0px 54px -2px rgba(51,51,51,1); box-shadow: 0px 0px 54px -2px rgba(51,51,51,1);" allowfullscreen></iframe>


				</div>
			</div>
		</div>    
    </section>

    <!--************************************
    		Features Start
    *************************************-->
    <section class="tg-parallax" data-appear-top-offset="600" data-parallax="scroll" data-image-src="{{ e.home_features_bg.getPath }}">
    	<div class="tg-sectionspace tg-haslayout">
    		<div class="container">
    			<div class="row">
    				<div class="tg-features">
    				
    				    {% for c in e.home_features %}
    					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    						<div class="tg-feature">
    							<div class="tg-featuretitle">
    								<h2><span>0{{loop.index}}</span><a href="javascript:void(0);">{{c.title}}</a></h2>
    							</div>
    							<div class="tg-description">
    								<p>{{c.description}}</p>
    							</div>
    						</div>
    					</div>
                        {% endfor %}
                        
    				</div>
    			</div>
    		</div>
    	</div>
    </section>
    
    
    
    <!--************************************
    		Features End
*************************************-->

<!--Articles-->

</main>