==
{% if this.page.id == 'tour' %}

		<div class="tg-parallax tg-innerbanner" data-appear-top-offset="600" data-parallax="scroll" data-image-src="images/parallax/bgparallax-06.jpg">
			<div class="tg-sectionspace tg-haslayout">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
					</div>
				</div>
			</div>
		</div>	
		
{% endif %}		

{% if this.page.id == 'services' %}

		<section class="tg-parallax tg-innerbanner" data-appear-top-offset="600" data-parallax="scroll" data-image-src="images/parallax/bgparallax-05.jpg">
			<div class="tg-sectionspace tg-haslayout">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<h1>About Us</h1>
							<h2>Donec id elit non mi porta gravida at eget metus</h2>
							<ol class="tg-breadcrumb">
								<li><a href="javascript:void(0);">Home</a></li>
								<li class="tg-active">about us</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</section>
		
{% endif %}		

{% if this.page.id == 'about' %}


		
{% endif %}		


{% if this.page.id == 'contact'  %}

		<section class="tg-parallax tg-innerbanner" data-appear-top-offset="600" data-parallax="scroll" data-image-src="images/parallax/bgparallax-05.jpg">
			<div class="tg-sectionspace tg-haslayout">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<h1>About Us</h1>
							<h2>Donec id elit non mi porta gravida at eget metus</h2>
							<ol class="tg-breadcrumb">
								<li><a href="javascript:void(0);">Home</a></li>
								<li class="tg-active">about us</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</section>
		
{% endif %}